Repository dzsem/uppercut, pull requests merged in 2025-01, with the labels that each got.

#9 Feature playermovement
  .vsconfig
  Assets/Graphics.meta
  Assets/Graphics/Hand.meta
  Assets/Graphics/Hand/1.png
  Assets/Graphics/Hand/1.png.meta
  Assets/Graphics/Hand/2.png
  Assets/Graphics/Hand/2.png.meta
  Assets/Graphics/Hand/3.png
  Assets/Graphics/Hand/3.png.meta
  Assets/Graphics/Hand/4.png
  Assets/Graphics/Hand/4.png.meta
  Assets/Graphics/Hand/5.png
  Assets/Graphics/Hand/5.png.meta
  Assets/Graphics/Hand/6.png
  Assets/Graphics/Hand/6.png.meta
  Assets/Graphics/Hand/7.png
  Assets/Graphics/Hand/7.png.meta
  Assets/Graphics/Hand/8.png
  Assets/Graphics/Hand/8.png.meta
  Assets/Graphics/Hand/9.png
  Assets/Graphics/Hand/9.png.meta
  Assets/Scenes/SampleScene.unity
  Assets/TestLevel.meta
  Assets/TestLevel/Assets.meta
  Assets/TestLevel/Assets/TestLevel.prefab
  Assets/TestLevel/Assets/TestLevel.prefab.meta
  Assets/fall-trough floor.meta
  Assets/fall-trough floor/OpenFloor.cs
  Assets/fall-trough floor/OpenFloor.cs.meta
  Assets/fall-trough floor/README.md
  Assets/fall-trough floor/README.md.meta
  Assets/player.meta
  Assets/player/Friction.physicsMaterial2D
  Assets/player/Friction.physicsMaterial2D.meta
  Assets/player/PlayerMover.cs
  Assets/player/PlayerMover.cs.meta
  Assets/player/Square.controller
  Assets/player/Square.controller.meta
  Assets/player/player_animation.anim
  Assets/player/player_animation.anim.meta
  Assets/player/player_idle.anim
  Assets/player/player_idle.anim.meta
  ProjectSettings/SceneTemplateSettings.json
  ProjectSettings/TagManager.asset
Labels: player

#31 Patch ground collider bug
  Assets/TestLevel/Assets/TestLevel.prefab
  Assets/Utils.meta
  Assets/Utils/Collider2DTrigger.cs
  Assets/Utils/Collider2DTrigger.cs.meta
  Assets/player/Assets/Player.prefab
  Assets/player/Friction.physicsMaterial2D
  Assets/player/PlayerMover.cs
Labels: bug, player

#37 Patch player movement
  Assets/SFX.meta
  Assets/SFX/dash.wav
  Assets/SFX/dash.wav.meta
  Assets/SFX/dash_2.wav
  Assets/SFX/dash_2.wav.meta
  Assets/SFX/death.wav
  Assets/SFX/death.wav.meta
  Assets/SFX/death_2.wav
  Assets/SFX/death_2.wav.meta
  Assets/SFX/door_open.wav
  Assets/SFX/door_open.wav.meta
  Assets/SFX/door_open_2.wav
  Assets/SFX/door_open_2.wav.meta
  Assets/SFX/door_open_3.wav
  Assets/SFX/door_open_3.wav.meta
  Assets/SFX/knockback.wav
  Assets/SFX/knockback.wav.meta
  Assets/SFX/punchdown.wav
  Assets/SFX/punchdown.wav.meta
  Assets/Scenes/PersistentStuff.unity
  Assets/player/Assets/Player.prefab
  Assets/player/Friction.physicsMaterial2D
  Assets/player/PlayerHealth.cs
  Assets/player/PlayerMover.cs
  Assets/player/PlayerSound.cs
  Assets/player/PlayerSound.cs.meta
Labels: player, w2, sound
